html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Fuzzy Bubbles", cursive;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  margin: 0 20px 20px 20px;
}

h2,
h3 {
  color: #f73e6e;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  max-width: 66rem;
  margin: 0 auto;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0;
    padding-top: 20px;
  }
}

.logo {
  display: none;
}
@media screen and (min-width: 1100px) {
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo__text {
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
  }
}

.menu {
  position: relative;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__text {
  text-transform: uppercase;
  cursor: pointer;
}
.menu__toggler {
  vertical-align: top;
  cursor: pointer;
}
.menu__toggler--cross {
  display: none;
}
.menu__description {
  display: block;
  text-align: right;
  padding: 20px;
}
.menu__list {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}
.menu__item {
  text-align: center;
  border-top: 1px solid white;
}
@media screen and (max-width: 639px) {
  .menu__item:hover, .menu__item:focus {
    text-decoration: underline;
  }
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
  padding: 20px;
}
@media screen and (max-width: 639px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
    position: static;
    background-image: linear-gradient(to right, #f7af66, #f73e6e);
    transform: translateX(0);
    visibility: visible;
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--hamburger, .menu__checkbox:checked ~ .menu__description > .menu__text {
    display: none;
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--cross {
    display: inline;
  }
}
@media screen and (min-width: 640px) {
  .menu__description {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-evenly;
    position: static;
    transform: none;
    transition: none;
    visibility: visible;
  }
  .menu__item {
    border: none;
    list-style-type: none;
    padding: 10px;
    color: black;
  }
  .menu__link {
    position: relative;
    color: black;
    padding: 0;
  }
  .menu__link::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f73e6e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .menu__link:hover:after {
    width: 100%;
    left: 0;
  }
}

.form {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.form__heading {
  text-align: center;
  margin: 0;
}
.form__field label::after, .form__text label::after, .form__topic label::after,
.form .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.form__field--optional label::after {
  content: "";
}
.form__field label, .form__text label {
  display: block;
  margin-bottom: 5px;
}
.form__field {
  margin-top: 20px;
}
.form__field input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: calc(100% - 20px);
  padding: 10px;
  caret-color: #f73e6e;
}
.form__text, .form__approval, .form__topic {
  margin-top: 20px;
}
.form__topic label {
  display: block;
  margin-bottom: 5px;
}
.form__topic select {
  display: block;
  width: calc(100% - 20px);
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.form__text textarea {
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid lightgrey;
  caret-color: #f73e6e;
}
.form__approval {
  margin-bottom: 20px;
}
.form__approval label {
  display: block;
}
.form__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.form__note {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 40px;
    margin: auto;
  }
  .form__heading {
    flex-basis: 100%;
  }
  .form__field {
    flex-basis: 45%;
  }
  .form__topic {
    flex-basis: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .form__text, .form__approval, .form__note {
    flex-basis: 100%;
  }
  .form__approval {
    display: block;
    margin: 20px auto 20px auto;
  }
}
.newsletter {
  margin: 40px auto 40px auto;
  padding: 20px;
  padding-top: 0;
  max-width: 360px;
}
.newsletter__email {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 30px;
  border-radius: 20px;
  caret-color: #f73e6e;
  border: 1px solid lightgrey;
}
.newsletter__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.newsletter__send:hover, .newsletter__send:focus {
  text-decoration: underline;
}
.newsletter__flex {
  margin-bottom: 20px;
}
.newsletter__approval {
  margin-top: 20px;
}
.newsletter .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.newsletter__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.newsletter__note {
  display: block;
  margin-top: 20px;
}
@media screen and (min-width: 640px) {
  .newsletter {
    max-width: 550px;
  }
  .newsletter__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsletter__email {
    margin: 0;
    border-radius: 20px 0 0 20px;
    border: 1px solid #f73e6e;
    border-right: 0;
  }
  .newsletter__send {
    margin: 0;
    border-radius: 0 20px 20px 0;
    border: 1px solid #f73e6e;
    border-left: 0;
  }
}

.siema {
  margin: 20px;
  margin-bottom: 0;
  border-top: 1px solid #f73e6e;
}
.siema__card {
  padding: 20px 20px 0 20px;
  margin: 0 auto 0 auto;
  max-width: 400px;
  border-radius: 10px;
}
.siema__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.siema__text {
  margin: 20px 0 20px 0;
}
.siema__text--bold {
  display: block;
  font-weight: 700;
}
.siema__buttons {
  text-align: center;
}
.siema__prev {
  padding: 20px 10px 20px 20px;
}
.siema__next {
  padding: 20px 20px 20px 10px;
}
.siema__prev, .siema__next {
  border: none;
  background-color: white;
}
@media screen and (min-width: 640px) {
  .siema__card {
    margin: 0 auto 0 auto;
  }
}

.gallery__link {
  overflow: hidden;
}
@media screen and (min-width: 640px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
  }
  .gallery__link:nth-child(2), .gallery__link:nth-child(6) {
    display: inline;
    grid-row: span 2;
  }
}
.gallery__item {
  display: block;
  margin-bottom: 1px;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .gallery__item {
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery__item:hover {
    transform: scale(1.1);
  }
}

.button {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.button:hover, .button:focus {
  text-decoration: underline;
}

.polaroid {
  width: 200px;
  margin: 40px auto 20px auto;
  transform: rotate(15deg);
  transition: transform 0.3s ease;
  box-shadow: 0 1px 3px lightgray;
}
.polaroid:hover {
  transform: rotate(0deg) scale(1.2);
}
.polaroid__item {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}
.polaroid__picture {
  max-width: 100%;
}
.polaroid__caption {
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
  line-height: 2em;
}
@media screen and (min-width: 640px) {
  .polaroid {
    width: 190px;
    max-height: 200px;
  }
}
@media screen and (min-width: 1100px) {
  .polaroid {
    width: 230px;
  }
}

.polaroid--left {
  transform: rotate(-15deg);
}
@media screen and (min-width: 640px) {
  .polaroid--left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .polaroid--left {
    margin-bottom: 110px;
  }
}

.polaroid--middle {
  transform: rotate(10deg);
}
@media screen and (min-width: 640px) {
  .polaroid--middle {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .polaroid--middle {
    margin-bottom: 110px;
  }
}

.polaroid--static {
  max-width: 240px;
  margin: 20px auto 20px auto;
  box-shadow: 0 1px 3px lightgray;
}
@media screen and (min-width: 640px) {
  .polaroid--static {
    max-width: 280px;
  }
}

.network {
  background: linear-gradient(45deg, #f7af66, #f73e6e);
  text-align: center;
  padding: 20px;
}
.network__heading {
  color: white;
  margin: 0 0 20px 0;
}
.network__newsletter, .network__twitter, .network__facebook, .network__instagram {
  padding: 0 10px 0 10px;
}

.references {
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}
.references__link {
  text-decoration: none;
  color: white;
}

.courses__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 30%), url(/images/banner-courses.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .courses__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-courses.jpg);
  }
}
.courses__info {
  margin: 0 auto 0 auto;
  padding: 0 40px 0 40px;
  max-width: 360px;
}
@media screen and (min-width: 640px) {
  .courses__info {
    max-width: 560px;
  }
}
.courses__grid {
  overflow: auto;
  white-space: nowrap;
}
.courses__heading {
  margin-top: 0;
}
.courses__email {
  color: #f73e6e;
}
.courses__application {
  max-width: 260px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: 40px auto 40px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.courses__application:hover, .courses__application:focus {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .courses__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 1px;
    overflow: hidden;
  }
}
.courses__photo {
  display: block;
  margin-bottom: 1px;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .courses__photo {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .courses__photo:hover {
    transform: scale(1.1);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 0 1px 3px lightgray;
  border-radius: 10px;
  text-align: center;
  margin: 0 40px 40px 40px;
  min-width: 700px;
}
.grid__description {
  color: #f73e6e;
  text-transform: uppercase;
}
.grid__coloured {
  background-color: lightgray;
}

.teachers__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 25%), url(/images/banner-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .teachers__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-team.jpg);
  }
}

.profile {
  border-top: 1px solid lightgrey;
  padding: 20px;
}
.profile__introduction {
  text-align: center;
}
.profile__heading {
  margin: 20px 0 20px 0;
}
.profile__picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}
.profile__email {
  margin: 20px;
}
.profile__email .email__picture {
  vertical-align: top;
}
.profile__french {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 640px) {
  .profile__french {
    max-width: 560px;
  }
}
.profile__checkbox {
  position: absolute;
  left: -9999px;
}
.profile__checkbox:checked ~ .profile__czech {
  display: block;
}
.profile__checkbox:checked ~ .profile__wrapper > .profile__toggler--right {
  display: none;
}
.profile__checkbox:checked ~ .profile__wrapper > .profile__toggler--down {
  display: inline;
}
.profile__wrapper {
  padding-left: 20px;
}
.profile__toggler {
  cursor: pointer;
}
.profile__toggler--text {
  color: #f73e6e;
  font-weight: 700;
  vertical-align: top;
  display: inline;
}
.profile__czech, .profile__toggler--down {
  display: none;
}
.profile__czech {
  padding: 20px;
  padding-top: 0;
}
@media screen and (min-width: 640px) {
  .profile__czech {
    max-width: 560px;
  }
}
.profile__link {
  text-decoration: none;
}
.profile__invitation {
  color: #f73e6e;
  font-weight: 700;
}
.profile__invitation--underline {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .profile__picture {
    margin: 20px 20px 0 20px;
    width: 200px;
    height: 200px;
  }
  .profile__introduction {
    text-align: left;
  }
  .profile__heading {
    margin-left: 20px;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .profile__picture {
    width: 250px;
    height: 250px;
  }
}

.culture__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 35%), url(/images/banner-events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
  margin-bottom: 40px;
}
@media screen and (min-width: 640px) {
  .culture__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-events.jpg);
  }
}
@media screen and (min-width: 640px) {
  .culture__links {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
.culture__link {
  text-decoration: none;
  color: black;
}
.culture__link:hover {
  text-decoration: underline;
}

.voting {
  text-align: center;
}
.voting__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .voting__heading {
    margin-top: 0;
  }
}
@media screen and (min-width: 640px) {
  .voting__heading--margin {
    margin-top: 20px;
  }
}
.voting__checkbox {
  position: absolute;
  left: -9999px;
}
.voting__checkbox:checked + .voting__description::before {
  background-color: #f73e6e;
}
.voting__checkbox:checked ~ .voting__send {
  display: block;
}
.voting__description {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  display: block;
  position: relative;
  width: 270px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__description::before {
  content: "";
  display: inline;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
.voting__description:hover, .voting__description:focus {
  text-decoration: underline;
}
.voting__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  border: none;
  display: none;
  width: 270px;
  height: 45px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__send:hover, .voting__send:focus {
  text-decoration: underline;
}

.event {
  margin: 0 40px 40px 40px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .event {
    margin: 0 40px 0 40px;
  }
}
.event__date {
  color: #f73e6e;
}
.event__time {
  color: #f73e6e;
  display: block;
}
.event__text {
  max-width: 580px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .event__text {
    margin-left: auto;
    margin-right: auto;
  }
}
.event__link--underlined {
  color: black;
}
.event__link {
  text-decoration: none;
  text-align: left;
  display: block;
}
@media screen and (min-width: 640px) {
  .event__link {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
}
.event__link--coloured {
  text-decoration: underline;
  color: #f73e6e;
}
.event__price {
  display: block;
  text-align: left;
}
@media screen and (min-width: 640px) {
  .event__price {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 640px) {
  .event__polaroids {
    display: flex;
  }
}

.travelling__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-travelling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  min-height: 400px;
}
.travelling__heading--date, .travelling__heading--price {
  margin-left: 20px;
  margin-right: 20px;
}
.travelling__text {
  margin: 0 20px 0 20px;
}
@media screen and (min-width: 640px) {
  .travelling__text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.travelling__introduction {
  max-width: 360px;
  margin: 20px auto 20px auto;
}
@media screen and (min-width: 640px) {
  .travelling__introduction {
    margin: 20px 0 0 0;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .travelling__introduction {
    max-width: 560px;
  }
}
.travelling__perex {
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .travelling__perex {
    margin-top: 0;
  }
}
.travelling__info {
  margin-bottom: 0;
}
.travelling__details {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .travelling__details {
    flex-basis: 50%;
  }
}
.travelling__heading {
  text-align: left;
  padding-left: 20px;
}
.travelling__itinerary {
  max-width: 360px;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 640px) {
  .travelling__itinerary {
    flex-basis: 100%;
    margin: 20px 0 0 0;
    max-width: 560px;
  }
}
.travelling__checkbox {
  position: absolute;
  left: -9999px;
}
.travelling__checkbox:checked ~ .travelling__wrapper > .travelling__days {
  display: block;
}
.travelling__checkbox:checked ~ .travelling__wrapper > .travelling__toggler--down {
  display: inline;
}
.travelling__checkbox:checked ~ .travelling__wrapper > .travelling__toggler--right {
  display: none;
}
.travelling__days, .travelling__toggler--down {
  display: none;
}
.travelling__toggler {
  cursor: pointer;
}
.travelling__toggler--text {
  color: #f73e6e;
  font-weight: 700;
  vertical-align: top;
}
.travelling__days {
  margin-bottom: 0;
}
.travelling__map {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.travelling__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 30%), url(/images/banner-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .contact__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-contact.jpg);
  }
}
.contact__details {
  padding-bottom: 20px;
}
.contact__address span, .contact__hours span, .contact__other span {
  display: block;
  text-align: center;
}
.contact__mail, .contact__phone {
  vertical-align: bottom;
}
.contact__mail {
  padding-right: 5px;
}
.contact__map {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  margin-top: 20px;
}
.contact__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 640px) {
  .contact__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact__address {
    flex-basis: 40%;
  }
  .contact__other {
    flex-basis: 40%;
  }
  .contact__hours {
    flex-basis: 100%;
  }
}

.confirmation {
  text-align: center;
}
.confirmation__done, .confirmation__text, .confirmation__link {
  display: block;
}
.confirmation__done {
  margin: auto;
}
.confirmation__done, .confirmation__text {
  margin-bottom: 20px;
}
.confirmation__text {
  margin: 0 auto 0 auto;
  padding: 0 40px 0 40px;
  max-width: 360px;
}
@media screen and (min-width: 640px) {
  .confirmation__text {
    max-width: 560px;
  }
}
.confirmation__link {
  margin-bottom: 40px;
  color: #f73e6e;
}

.banner {
  overflow: hidden;
}
.banner__school {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 35%), url(/images/banner-school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  min-height: 400px;
  -webkit-animation: font 5s both;
          animation: font 5s both;
}
@-webkit-keyframes font {
  0% {
    font-size: 10px;
  }
  100% {
    font-size: 18px;
  }
}
@keyframes font {
  0% {
    font-size: 10px;
  }
  100% {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  .banner__school {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-school.jpg);
    background-position: 50% 25%;
  }
}

.invitation {
  margin: 40px;
}
.invitation__text {
  max-width: 360px;
  margin: 20px auto 40px auto;
  text-align: center;
}
.invitation__link {
  text-decoration: none;
  color: black;
  display: block;
}
.invitation__text--underlined {
  color: #f73e6e;
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .invitation {
    margin: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .invitation__heading--main {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  .invitation__baking, .invitation__books {
    flex-basis: calc(50% - 10px);
  }
}

.advantages {
  padding: 20px;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.advantages__heading {
  color: white;
}
.advantages__text {
  color: white;
  max-width: 360px;
  margin: 20px auto 40px auto;
}
@media screen and (min-width: 640px) {
  .advantages {
    display: flex;
  }
  .advantages__heading {
    margin-top: 0;
  }
  .advantages__text {
    max-width: 360px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .advantages__text {
    max-width: 400px;
  }
}/*# sourceMappingURL=style.css.map */