html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Comforter Brush", cursive;
  color: #f73e6e;
}

h2,
h3 {
  color: #f73e6e;
}

@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
}

.logo {
  display: none;
}
@media screen and (min-width: 1100px) {
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo__text {
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__text {
  text-transform: uppercase;
  cursor: pointer;
}
.menu__toggler {
  vertical-align: top;
  cursor: pointer;
}
.menu__toggler--cross {
  display: none;
}
.menu__description {
  display: block;
  text-align: right;
  padding: 20px;
}
.menu__list {
  margin: 0;
  padding: 0;
  display: none;
}
.menu__item {
  text-align: center;
  border-top: 1px solid lightgrey;
}
@media screen and (max-width: 639px) {
  .menu__item:hover, .menu__item:focus {
    background-color: #f7af66;
  }
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: block;
  padding: 20px;
}
@media screen and (max-width: 639px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--hamburger, .menu__checkbox:checked ~ .menu__description > .menu__text {
    display: none;
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--cross {
    display: inline;
  }
}
@media screen and (min-width: 640px) {
  .menu__description {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-evenly;
  }
  .menu__item {
    border: none;
    list-style-type: none;
  }
  .menu__link {
    padding: 10px;
    position: relative;
  }
}

.form {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.form__heading {
  text-align: center;
  margin: 0;
}
.form__field label::after, .form__text label::after, .form__topic label::after,
.form .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.form__field--optional label::after {
  content: "";
}
.form__field label, .form__text label {
  display: block;
  margin-bottom: 5px;
}
.form__field {
  margin-top: 20px;
}
.form__field input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: calc(100% - 20px);
  padding: 10px;
  caret-color: #f73e6e;
}
.form__text, .form__approval, .form__topic {
  margin-top: 20px;
}
.form__topic label {
  display: block;
  margin-bottom: 5px;
}
.form__topic select {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.form__text textarea {
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid lightgrey;
  caret-color: #f73e6e;
}
.form__approval {
  margin-bottom: 20px;
}
.form__approval label {
  display: block;
}
.form__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.form__note {
  display: block;
  margin-bottom: 20px;
}
.form__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.form__send:hover, .form__send:focus {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 40px;
    margin: auto;
    border: 1px solid red;
  }
  .form__heading {
    flex-basis: 100%;
  }
  .form__field {
    flex-basis: 45%;
  }
  .form__topic {
    flex-basis: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .form__text, .form__approval, .form__note {
    flex-basis: 100%;
  }
  .form__approval {
    display: block;
    margin: 20px auto 20px auto;
  }
}
.newsletter {
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
}
.newsletter__header {
  text-align: center;
  margin-bottom: 20px;
}
.newsletter__email {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 30px;
  border-radius: 20px;
  caret-color: #f73e6e;
  border: 1px solid lightgrey;
}
.newsletter__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.newsletter__send:hover, .newsletter__send:focus {
  text-decoration: underline;
}
.newsletter__flex {
  margin-bottom: 20px;
}
.newsletter__approval {
  margin-top: 20px;
}
.newsletter .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.newsletter__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.newsletter__note {
  display: block;
  margin-top: 20px;
}
@media screen and (min-width: 640px) {
  .newsletter {
    width: 550px;
  }
  .newsletter__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsletter__email {
    margin: 0;
    border-radius: 20px 0 0 20px;
    border: 1px solid #f73e6e;
    border-right: 0;
  }
  .newsletter__send {
    margin: 0;
    border-radius: 0 20px 20px 0;
    border: 1px solid #f73e6e;
    border-left: 0;
  }
}

.network {
  background: linear-gradient(45deg, #f7af66a1, #f73e6fb9);
  text-align: center;
  padding: 20px;
}
.network__heading {
  color: white;
  margin: 0 0 20px 0;
}
.network__newsletter, .network__twitter, .network__facebook, .network__instagram {
  padding: 0 10px 0 10px;
}

.translation__checkbox {
  position: absolute;
  left: -9999px;
}
.translation__checkbox:checked ~ .translation__text {
  display: block;
}
.translation__checkbox:checked ~ .translation__description > .translation__toggler--right {
  display: none;
}
.translation__checkbox:checked ~ .translation__description > .translation__toggler--down {
  display: inline;
}
.translation__toggler {
  cursor: pointer;
}
.translation__heading {
  vertical-align: top;
  cursor: pointer;
}
.translation__text, .translation__toggler--down {
  display: none;
}

.voting {
  border: 1px solid #f73e6e;
  text-align: center;
}
.voting__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
.voting__checkbox {
  position: absolute;
  left: -9999px;
}
.voting__checkbox:checked + .voting__description::before {
  background-color: #f73e6e;
}
.voting__description {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  display: block;
  position: relative;
  width: 270px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__description::before {
  content: "";
  display: inline;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
.voting__description:hover, .voting__description:focus {
  text-decoration: underline;
}
.voting__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  border: none;
  display: block;
  width: 270px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__send:hover, .voting__send:focus {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .voting__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .voting__description {
    margin: 20px;
  }
}/*# sourceMappingURL=style.css.map */