html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Fuzzy Bubbles", cursive;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  margin: 0 20px 20px 20px;
}

h2,
h3 {
  color: #f73e6e;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  max-width: 66rem;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0;
    padding-top: 20px;
  }
}

.logo {
  display: none;
}
@media screen and (min-width: 1100px) {
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo__text {
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__text {
  text-transform: uppercase;
  cursor: pointer;
}
.menu__toggler {
  vertical-align: top;
  cursor: pointer;
}
.menu__toggler--cross {
  display: none;
}
.menu__description {
  display: block;
  text-align: right;
  padding: 20px;
}
.menu__list {
  margin: 0;
  padding: 0;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu__item {
  text-align: center;
  border-top: 1px solid white;
}
@media screen and (max-width: 639px) {
  .menu__item:hover, .menu__item:focus {
    text-decoration: underline;
  }
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
  padding: 20px;
}
@media screen and (max-width: 639px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
    position: static;
    background-image: linear-gradient(to right, #f7af66, #f73e6e);
    transform: translateX(0);
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--hamburger, .menu__checkbox:checked ~ .menu__description > .menu__text {
    display: none;
  }
  .menu__checkbox:checked ~ .menu__description > .menu__toggler--cross {
    display: inline;
  }
}
@media screen and (min-width: 640px) {
  .menu__description {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-evenly;
    position: static;
    transform: none;
    transition: none;
  }
  .menu__item {
    border: none;
    list-style-type: none;
    padding: 10px;
    color: black;
  }
  .menu__link {
    position: relative;
    color: black;
    padding: 0;
  }
  .menu__link::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f73e6e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .menu__link:hover:after {
    width: 100%;
    left: 0;
  }
}

.form {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.form__heading {
  text-align: center;
  margin: 0;
}
.form__field label::after, .form__text label::after, .form__topic label::after,
.form .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.form__field--optional label::after {
  content: "";
}
.form__field label, .form__text label {
  display: block;
  margin-bottom: 5px;
}
.form__field {
  margin-top: 20px;
}
.form__field input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: calc(100% - 20px);
  padding: 10px;
  caret-color: #f73e6e;
}
.form__text, .form__approval, .form__topic {
  margin-top: 20px;
}
.form__topic label {
  display: block;
  margin-bottom: 5px;
}
.form__topic select {
  display: block;
  width: calc(100% - 20px);
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.form__text textarea {
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid lightgrey;
  caret-color: #f73e6e;
}
.form__approval {
  margin-bottom: 20px;
}
.form__approval label {
  display: block;
}
.form__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.form__note {
  display: block;
  margin-bottom: 20px;
}
.form__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.form__send:hover, .form__send:focus {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 40px;
    margin: auto;
  }
  .form__heading {
    flex-basis: 100%;
  }
  .form__field {
    flex-basis: 45%;
  }
  .form__topic {
    flex-basis: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .form__text, .form__approval, .form__note {
    flex-basis: 100%;
  }
  .form__approval {
    display: block;
    margin: 20px auto 20px auto;
  }
}
.newsletter {
  margin: 20px;
  padding: 20px;
  border: 1px solid #f73e6e;
}
.newsletter__header {
  text-align: center;
  margin-bottom: 20px;
}
.newsletter__email {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 30px;
  border-radius: 20px;
  caret-color: #f73e6e;
  border: 1px solid lightgrey;
}
.newsletter__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.newsletter__send:hover, .newsletter__send:focus {
  text-decoration: underline;
}
.newsletter__flex {
  margin-bottom: 20px;
}
.newsletter__approval {
  margin-top: 20px;
}
.newsletter .approval__word--last::after {
  content: "*";
  color: #f73e6e;
}
.newsletter__note::before {
  content: "*";
  color: #f73e6e;
  display: inline-block;
  margin-right: 3px;
}
.newsletter__note {
  display: block;
  margin-top: 20px;
}
@media screen and (min-width: 640px) {
  .newsletter {
    width: 550px;
  }
  .newsletter__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsletter__email {
    margin: 0;
    border-radius: 20px 0 0 20px;
    border: 1px solid #f73e6e;
    border-right: 0;
  }
  .newsletter__send {
    margin: 0;
    border-radius: 0 20px 20px 0;
    border: 1px solid #f73e6e;
    border-left: 0;
  }
}

.siema {
  margin: 20px;
  margin-bottom: 0;
  border-top: 1px solid #f73e6e;
}
.siema__card {
  padding: 20px 20px 0 20px;
  margin: 0 auto 0 auto;
  max-width: 400px;
  border-radius: 10px;
}
.siema__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.siema__text {
  margin: 20px 0 20px 0;
}
.siema__text--bold {
  display: block;
  font-weight: 700;
}
.siema__buttons {
  text-align: center;
}
.siema__prev {
  padding: 20px 10px 20px 20px;
}
.siema__next {
  padding: 20px 20px 20px 10px;
}
.siema__prev, .siema__next {
  border: none;
  background-color: white;
}
@media screen and (min-width: 640px) {
  .siema__card {
    margin: 0 auto 0 auto;
  }
}

.gallery__item {
  width: 100%;
}

.network {
  background: linear-gradient(45deg, #f7af66, #f73e6e);
  text-align: center;
  padding: 20px;
}
.network__heading {
  color: white;
  margin: 0 0 20px 0;
}
.network__newsletter, .network__twitter, .network__facebook, .network__instagram {
  padding: 0 10px 0 10px;
}

.courses__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 30%), url(/images/banner-courses.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .courses__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-courses.jpg);
  }
}

.teachers__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 25%), url(/images/banner-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .teachers__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-team.jpg);
  }
}

.profile {
  border-top: 1px solid lightgrey;
  padding: 20px;
}
.profile__introduction {
  text-align: center;
}
.profile__heading {
  margin: 20px 0 20px 0;
}
.profile__picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}
.profile__email {
  margin: 20px;
}
.profile__email .email__picture {
  vertical-align: top;
}
.profile__french {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.profile__checkbox {
  position: absolute;
  left: -9999px;
}
.profile__checkbox:checked ~ .profile__czech {
  display: block;
}
.profile__checkbox:checked ~ .profile__description > .profile__toggler--right {
  display: none;
}
.profile__checkbox:checked ~ .profile__description > .profile__toggler--down {
  display: inline;
}
.profile__description {
  padding-left: 20px;
}
.profile__toggler {
  cursor: pointer;
}
.profile__toggler--text {
  color: #f73e6e;
  font-weight: 700;
  vertical-align: top;
  cursor: pointer;
  display: inline;
}
.profile__czech, .profile__toggler--down {
  display: none;
}
.profile__czech {
  padding: 20px;
  padding-top: 0;
}
.profile__link {
  text-decoration: none;
}
.profile__invitation {
  color: #f73e6e;
  font-weight: 700;
}
.profile__invitation--underline {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .profile {
    display: flex;
    align-items: flex-start;
  }
  .profile__picture {
    margin: 20px 20px 0 20px;
    width: 200px;
    height: 200px;
  }
  .profile__introduction {
    text-align: left;
  }
  .profile__heading {
    margin-left: 20px;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .profile__picture {
    width: 250px;
    height: 250px;
  }
}

.events__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 35%), url(/images/banner-events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .events__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-events.jpg);
  }
}

.voting {
  text-align: center;
}
.voting__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
.voting__checkbox {
  position: absolute;
  left: -9999px;
}
.voting__checkbox:checked + .voting__description::before {
  background-color: #f73e6e;
}
.voting__checkbox:checked ~ .voting__send {
  display: block;
}
.voting__description {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  display: block;
  position: relative;
  width: 270px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__description::before {
  content: "";
  display: inline;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
.voting__description:hover, .voting__description:focus {
  text-decoration: underline;
}
.voting__send {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px 10px 40px;
  border-radius: 20px;
  border: none;
  display: none;
  width: 270px;
  height: 45px;
  margin: 20px auto 20px auto;
  background-image: linear-gradient(to right, #f7af66, #f73e6e);
}
.voting__send:hover, .voting__send:focus {
  text-decoration: underline;
}

.travelling__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-travelling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  min-height: 400px;
}
.travelling__map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.travelling__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 30%), url(/images/banner-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .contact__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-contact.jpg);
  }
}
.contact__details {
  padding-bottom: 20px;
}
.contact__address span, .contact__hours span, .contact__other span {
  display: block;
  text-align: center;
}
.contact__mail, .contact__phone {
  vertical-align: bottom;
}
.contact__mail {
  padding-right: 5px;
}
.contact__map {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  margin-top: 20px;
}
.contact__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 640px) {
  .contact__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact__address {
    flex-basis: 40%;
  }
  .contact__other {
    flex-basis: 40%;
  }
  .contact__hours {
    flex-basis: 100%;
  }
}

.school__banner {
  background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 35%), url(/images/banner-school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  min-height: 400px;
}
@media screen and (min-width: 640px) {
  .school__banner {
    background-image: linear-gradient(to bottom, #f7af66e2, #f73e6fd0, rgba(255, 255, 255, 0) 20%), url(/images/banner-school.jpg);
    background-position: 50% 25%;
  }
}/*# sourceMappingURL=style.css.map */