---
layout: layouts/main-template.njk
title: Společenské akce
---

<div class="culture__banner">
  <h1>Poznej s námi francouzskou kulturu</h1>
</div>

<h2>Nadcházející akce</h2>

<section class="culture__links">
  {% for event in collections.next | reverse %}

  <a class="culture__link" href="{{event.url}}">
    <div class="polaroid--static">
      <div class="polaroid__item">
        <img
          class="polaroid__picture"
          src="/images/{{event.data.image1}}"
          alt="{{event.data.alt1}}"
        />
        <div class="polaroid__caption">{{event.data.title}}</div>
      </div>
    </div>
  </a>

  {% endfor %}
</section>

<h2>Proběhlé akce</h2>

<section class="culture__links">
  {% for event in collections.previous | reverse %}

  <a class="culture__link" href="{{event.url}}">
    <div class="polaroid--static">
      <div class="polaroid__item">
        <img
          class="polaroid__picture"
          src="/images/{{event.data.image1}}"
          alt="{{event.data.alt1}}"
        />
        <div class="polaroid__caption">{{event.data.title}}</div>
      </div>
    </div>
  </a>

  {% endfor %}
</section>

<form class="voting" method="post" action="https://submit-form.com/ftKZrOh5">
  <input
    type="hidden"
    name="_redirect"
    value="https://domtom.netlify.app/potvrzeni/"
  />

  <h2 class="voting__heading voting__heading--margin">
    Vyber typ příští společenské akce
  </h2>
  <input
    type="checkbox"
    id="voting-option1"
    name="voting-option1"
    value="travelling"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option1"
    >Cestopisná přednáška</label
  >
  <input
    type="checkbox"
    id="voting-option2"
    name="voting-option2"
    value="film"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option2"
    >Filmové promítání</label
  >
  <input
    type="checkbox"
    id="voting-option3"
    name="voting-option3"
    value="photos"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option3"
    >Výstava fotografií</label
  >
  <button type="submit" name="send" class="voting__send">Odeslat</button>
</form>
