@use '../base/colors';
@use '../base/typography';

.culture {
  &__banner {
    background-image: linear-gradient(
        to bottom,
        #f7af66e2,
        #f73e6fd0,
        rgba(255, 255, 255, 0) 35%
      ),
      url(/images/banner-events.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 400px;
    margin-bottom: 40px;

    @media screen and (min-width: 640px) {
      background-image: linear-gradient(
          to bottom,
          #f7af66e2,
          #f73e6fd0,
          rgba(255, 255, 255, 0) 20%
        ),
        url(/images/banner-events.jpg);
    }
  }

  &__links {
    @media screen and (min-width: 640px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.voting {
  text-align: center;

  &__heading {
    margin-top: typography.$spacer;
    margin-bottom: typography.$spacer;
    @media screen and (min-width: 640px) {
      margin-top: 0;
    }
  }

  &__heading--margin {
    @media screen and (min-width: 640px) {
      margin-top: typography.$spacer;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;

    &:checked + .voting__description::before {
      background-color: colors.$color-primary;
    }

    &:checked ~ .voting__send {
      display: block;
    }
  }

  &__description {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px 10px 40px;
    border-radius: 20px;
    display: block;
    position: relative;
    width: 270px;
    margin: typography.$spacer auto typography.$spacer auto;
    background-image: linear-gradient(
      to right,
      colors.$color-secondary,
      colors.$color-primary
    );

    &::before {
      content: '';
      display: inline;
      position: absolute;
      left: 10px;
      top: 10px;
      bottom: 10px;
      width: 25px;
      background-color: white;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__send {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px 10px 40px;
    border-radius: 20px;
    border: none;
    display: none;
    width: 270px;
    height: 45px;
    margin: typography.$spacer auto typography.$spacer auto;
    background-image: linear-gradient(
      to right,
      colors.$color-secondary,
      colors.$color-primary
    );

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
