@use '../base/colors';
@use '../base/typography';

.travelling {
  &__banner {
    background-image: linear-gradient(
        to bottom,
        #f7af66e2,
        #f73e6fd0,
        rgba(255, 255, 255, 0) 20%
      ),
      url(/images/banner-travelling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    min-height: 400px;
  }

  &__heading--date,
  &__heading--price {
    margin-left: typography.$spacer;
    margin-right: typography.$spacer;
  }

  &__text {
    margin: 0 typography.$spacer 0 typography.$spacer;
    @media screen and (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  &__introduction {
    max-width: 360px;
    margin: typography.$spacer auto typography.$spacer auto;
    @media screen and (min-width: 640px) {
      margin: typography.$spacer 0 0 0;
      flex-basis: 50%;
    }
    @media screen and (min-width: 1100px) {
      max-width: 560px;
    }
  }

  &__perex {
    font-weight: 700;
    @media screen and (min-width: 640px) {
      margin-top: 0;
    }
  }

  &__info {
    margin-bottom: 0;
  }

  &__details {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 640px) {
      flex-basis: 50%;
    }
  }

  &__heading {
    text-align: left;
    padding-left: typography.$spacer;
  }

  &__itinerary {
    max-width: 360px;
    margin: typography.$spacer auto 0 auto;
    @media screen and (min-width: 640px) {
      flex-basis: 100%;
      margin: typography.$spacer 0 0 0;
      max-width: 560px;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;

    &:checked ~ .travelling__wrapper > .travelling__days {
      display: block;
    }

    &:checked ~ .travelling__wrapper > .travelling__toggler--down {
      display: inline;
    }

    &:checked ~ .travelling__wrapper > .travelling__toggler--right {
      display: none;
    }
  }

  &__days,
  &__toggler--down {
    display: none;
  }

  &__toggler {
    cursor: pointer;
  }

  &__toggler--text {
    color: colors.$color-primary;
    font-weight: 700;
    vertical-align: top;
  }

  &__days {
    margin-bottom: 0;
  }

  &__map {
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
