@use '../base/colors';
@use '../base/typography';

.contact {
  &__banner {
    background-image: linear-gradient(
        to bottom,
        #f7af66e2,
        #f73e6fd0,
        rgba(255, 255, 255, 0) 30%
      ),
      url(/images/banner-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 400px;

    @media screen and (min-width: 640px) {
      background-image: linear-gradient(
          to bottom,
          #f7af66e2,
          #f73e6fd0,
          rgba(255, 255, 255, 0) 20%
        ),
        url(/images/banner-contact.jpg);
    }
  }

  &__details {
    padding-bottom: typography.$spacer;
  }

  &__address span,
  &__hours span,
  &__other span {
    display: block;
    text-align: center;
  }

  &__mail,
  &__phone {
    vertical-align: bottom;
  }

  &__mail {
    padding-right: 5px;
  }

  &__map {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    margin-top: typography.$spacer;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  @media screen and (min-width: 640px) {
    &__details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__address {
      flex-basis: 40%;
    }

    &__other {
      flex-basis: 40%;
    }

    &__hours {
      flex-basis: 100%;
    }
  }
}
