@use '../base/colors';
@use '../base/typography';

.courses {
  &__banner {
    background-image: linear-gradient(
        to bottom,
        #f7af66e2,
        #f73e6fd0,
        rgba(255, 255, 255, 0) 30%
      ),
      url(/images/banner-courses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    min-height: 400px;

    @media screen and (min-width: 640px) {
      background-image: linear-gradient(
          to bottom,
          #f7af66e2,
          #f73e6fd0,
          rgba(255, 255, 255, 0) 20%
        ),
        url(/images/banner-courses.jpg);
    }
  }

  &__info {
    margin: 0 auto 0 auto;
    padding: 0 typography.$spacer-double 0 typography.$spacer-double;
    max-width: 360px;
    @media screen and (min-width: 640px) {
      max-width: 560px;
    }
  }

  &__grid {
    overflow: auto;
    white-space: nowrap;
  }

  &__heading {
    margin-top: 0;
  }

  &__email {
    color: colors.$color-primary;
  }

  &__application {
    max-width: 260px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    display: block;
    margin: typography.$spacer-double auto typography.$spacer-double auto;
    background-image: linear-gradient(
      to right,
      colors.$color-secondary,
      colors.$color-primary
    );

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__photos {
    @media screen and (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 200px;
      gap: 1px;
      overflow: hidden;
    }
  }

  &__photo {
    display: block;
    margin-bottom: 1px;
    width: 100%;

    @media screen and (min-width: 640px) {
      margin-bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 0 1px 3px lightgray;
  border-radius: 10px;
  text-align: center;
  margin: 0 typography.$spacer-double typography.$spacer-double
    typography.$spacer-double;
  min-width: 700px;

  &__description {
    color: colors.$color-primary;
    text-transform: uppercase;
  }

  &__coloured {
    background-color: lightgray;
  }
}
