@use '../base/colors';
@use '../base/typography';

.teachers {
  &__banner {
    background-image: linear-gradient(
        to bottom,
        #f7af66e2,
        #f73e6fd0,
        rgba(255, 255, 255, 0) 25%
      ),
      url(/images/banner-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 400px;

    @media screen and (min-width: 640px) {
      background-image: linear-gradient(
          to bottom,
          #f7af66e2,
          #f73e6fd0,
          rgba(255, 255, 255, 0) 20%
        ),
        url(/images/banner-team.jpg);
    }
  }
}

.profile {
  border-top: 1px solid lightgrey;
  padding: typography.$spacer;

  &__introduction {
    text-align: center;
  }

  &__heading {
    margin: typography.$spacer 0 typography.$spacer 0;
  }

  &__picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
  }

  &__email {
    margin: typography.$spacer;

    .email__picture {
      vertical-align: top;
    }
  }

  &__french {
    text-align: left;
    padding-left: typography.$spacer;
    padding-right: typography.$spacer;
    @media screen and (min-width: 640px) {
      max-width: 560px;
    }
  }

  &__text--big {
    text-transform: uppercase;
  }

  &__checkbox {
    position: absolute;
    left: -9999px;

    &:checked ~ .profile__czech {
      display: block;
    }

    &:checked ~ .profile__wrapper > .profile__toggler--right {
      display: none;
    }

    &:checked ~ .profile__wrapper > .profile__toggler--down {
      display: inline;
    }
  }

  &__wrapper {
    padding-left: typography.$spacer;
  }

  &__toggler {
    cursor: pointer;
  }

  &__toggler--text {
    color: colors.$color-primary;
    font-weight: 700;
    vertical-align: top;
    display: inline;
  }

  &__czech,
  &__toggler--down {
    display: none;
  }

  &__czech {
    padding: typography.$spacer;
    padding-top: 0;
    @media screen and (min-width: 640px) {
      max-width: 560px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__invitation {
    color: colors.$color-primary;
    font-weight: 700;
  }

  &__invitation--underline {
    text-decoration: underline;
  }

  @media screen and (min-width: 640px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    &__picture {
      margin: typography.$spacer typography.$spacer 0 typography.$spacer;
      width: 200px;
      height: 200px;
    }

    &__introduction {
      text-align: left;
    }

    &__heading {
      margin-left: typography.$spacer;
      text-align: left;
    }
  }

  @media screen and (min-width: 1100px) {
    &__picture {
      width: 250px;
      height: 250px;
    }
  }
}
