@use '../base/colors';
@use '../base/typography';

.translation {
  &__checkbox {
    position: absolute;
    left: -9999px;

    &:checked ~ .translation__text {
      display: block;
    }

    &:checked ~ .translation__description > .translation__toggler--right {
      display: none;
    }

    &:checked ~ .translation__description > .translation__toggler--down {
      display: inline;
    }
  }

  &__toggler {
    cursor: pointer;
  }

  &__heading {
    vertical-align: top;
    cursor: pointer;
  }

  &__text,
  &__toggler--down {
    display: none;
  }
}
