<footer class="footer">
  <div class="network">
    <h2 class="network__heading">Zůstaň v kontaktu</h2>
    <a href="/index.html#newsletter"
      ><img
        class="network__newsletter"
        src="/images/newsletter.svg"
        alt="newsletter"
    /></a>
    <a href="https://twitter.com/"
      ><img class="network__twitter" src="/images/twitter.svg" alt="twitter"
    /></a>
    <a href="https://www.facebook.com/"
      ><img class="network__facebook" src="/images/facebook.svg" alt="facebook"
    /></a>
    <a href="https://www.instagram.com/"
      ><img
        class="network__instagram"
        src="/images/instagram.svg"
        alt="instagram"
    /></a>
  </div>
</footer>
