    <header class="header">
      <a href="/" class="logo">
        <img id="logo__image" src="/images/logo.svg" alt="logo" />
        <span class="logo__text">dom-tom</span>
      </a>
      <nav classs="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
        <label for="menu-checkbox" class="menu__description">
          <span class="menu__text">menu</span>
          <img
            class="menu__toggler menu__toggler--hamburger"
            src="/images/menu.svg"
            alt="menu"
          />
          <img
            class="menu__toggler menu__toggler--cross"
            src="/images/cross.svg"
            alt="křížek"
          />
        </label>
        <ul class="menu__list">
          <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
          <li class="menu__item"><a href="/kurzy/" class="menu__link">Kurzy</a></li>
          <li class="menu__item"><a href="/lektori/" class="menu__link">Lektoři</a></li>
          <li class="menu__item">
            <a href="/akce/" class="menu__link">Společenské akce</a>
          </li>
          <li class="menu__item">
            <a href="/cestovani/" class="menu__link">Cestování</a>
          </li>
          <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
        </ul>
      </nav>
    </header>