@use '../base/colors';
@use '../base/typography';

.network {
  background: linear-gradient(45deg, #f7af66a1, #f73e6fb9);
  text-align: center;
  padding: typography.$spacer;

  &__header {
    color: white;
    margin: 0 0 typography.$spacer 0;
  }

  &__newsletter,
  &__twitter,
  &__facebook,
  &__instagram {
    padding: 0 10px 0 10px;
  }
}
