@use '../base/colors';
@use '../base/typography';

.network {
  background: linear-gradient(
    45deg,
    colors.$color-secondary,
    colors.$color-primary
  );

  text-align: center;
  padding: typography.$spacer;

  &__heading {
    color: white;
    margin: 0 0 typography.$spacer 0;
  }

  &__newsletter,
  &__twitter,
  &__facebook,
  &__instagram {
    padding: 0 10px 0 10px;
  }
}

.references {
  color: white;
  margin-top: 10px;
  margin-bottom: 0;

  &__link {
    text-decoration: none;
    color: white;
  }
}
