@use '../base/colors';
@use '../base/typography';

.header {
  @media screen and (min-width: 1100px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: typography.$spacer;
    margin-top: 0;
    padding-top: typography.$spacer;
  }
}

.logo {
  display: none;
  @media screen and (min-width: 1100px) {
    text-decoration: none;
    display: flex;
    align-items: center;

    &__text {
      text-transform: uppercase;
      color: black;
      font-weight: 400;
      font-size: 22px;
      margin-left: 10px;
    }
  }
}

.menu {
  position: relative;

  &__checkbox {
    position: absolute;
    left: -9999px;
  }

  &__text {
    text-transform: uppercase;
    cursor: pointer;
  }

  &__toggler {
    vertical-align: top;
    cursor: pointer;
  }

  &__toggler--cross {
    display: none;
  }

  &__description {
    display: block;
    text-align: right;
    padding: typography.$spacer;
  }

  &__list {
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
  }

  &__item {
    text-align: center;
    border-top: 1px solid white;

    @media screen and (max-width: 639px) {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: typography.$spacer;
  }

  @media screen and (max-width: 639px) {
    &__checkbox:checked ~ .menu__list {
      display: block;
      position: static;
      background-image: linear-gradient(
        to right,
        colors.$color-secondary,
        colors.$color-primary
      );
      transform: translateX(0);
      visibility: visible;
    }

    &__checkbox:checked ~ .menu__description > .menu__toggler--hamburger,
    &__checkbox:checked ~ .menu__description > .menu__text {
      display: none;
    }

    &__checkbox:checked ~ .menu__description > .menu__toggler--cross {
      display: inline;
    }
  }

  @media screen and (min-width: 640px) {
    &__description {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
      position: static;
      transform: none;
      transition: none;
      visibility: visible;
    }

    &__item {
      border: none;
      list-style-type: none;
      padding: 10px;
      color: black;
    }

    &__link {
      position: relative;
      color: black;
      padding: 0;

      &::after {
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: colors.$color-primary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
