---
layout: layouts/main-template.njk
---

<section class="event">
  <h2>{{ title }}</h2>
  <span class="event__date">{{ eventDate }}</span>
  <span class="event__time">{{ eventTime }}</span>

  {{ content | safe }}

  <div class="event__polaroids">
    <div class="polaroid polaroid--left">
      <div class="polaroid__item">
        <img
          class="polaroid__picture"
          src="/images/{{ image1 }}"
          alt="{{ alt1 }}"
        />
        <div class="polaroid__caption">{{ caption1 }}</div>
      </div>
    </div>

    <div class="polaroid polaroid--middle">
      <div class="polaroid__item">
        <img
          class="polaroid__picture"
          src="/images/{{ image2 }}"
          alt="{{ alt2 }}"
        />
        <div class="polaroid__caption">{{ caption2 }}</div>
      </div>
    </div>
  </div>
</section>

<form class="voting" method="post" action="https://submit-form.com/ftKZrOh5">
  <h2 class="voting__heading">Vyber typ příští společenské akce</h2>
  <input
    type="checkbox"
    id="voting-option1"
    name="voting-option1"
    value="travelling"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option1"
    >Cestopisná přednáška</label
  >
  <input
    type="checkbox"
    id="voting-option2"
    name="voting-option2"
    value="film"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option2"
    >Filmové promítání</label
  >
  <input
    type="checkbox"
    id="voting-option3"
    name="voting-option3"
    value="photos"
    class="voting__checkbox"
  />
  <label class="voting__description" for="voting-option3"
    >Výstava fotografií</label
  >
  <button type="submit" name="send" class="voting__send">Odeslat</button>
</form>
